@mixin  card_fade_in {
    @keyframes card_fade_in {
        from {
            transform: translateY(25px);
            opacity: 0;
        }
        to {
            transform: translateY(0px);
            opacity: 1;
        }
    }
    animation: card_fade_in 0.35s ease-out both;
}