.default {

    &__button {
        font-size: 18px;
        font-weight: 500;
    }

    &__title1 {
        font-size: 40px;
        font-weight: 800;
    }

    &__title2 {
        font-size: 35px;
        font-weight: 800;
    }

    &__title3 {
        font-size: 30px;
        font-weight: 800;
    }

    &__title4 {
        font-size: 25px;
        font-weight: 800;
    }

    &__subtitle1 {
        font-size: 20px;
        font-weight: 500;
    }

    &__subtitle2 {
        font-size: 18px;
        font-weight: 500;
    }

    &__subtitle3 {
        font-size: 16px;
        font-weight: 500;
    }

    &__navigationBar {
        font-size: 22px;
        font-weight: 550;
    }

    &__inputText {
        font-size: 18px;
        font-weight: 500;
    }

    &__placeholder {
        font-size: 18px;
        font-weight: 500;
    }

}

.layout {

    &__center {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
    }

    &__flexColumn {
        display: flex;
        flex-direction: column;
    }

}