@import './font.scss';
@import './variables.scss';
@import './default.scss';

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
}